<div *ngIf="pokemonService.pokemon()" class="center-container">

  <p>Punktestand: {{punktestand}}</p>

  <h1>Wie heißt das Pokémon?</h1>

  <img [src]="pokemonService.pokemon().sprites.front_default"> <!-- front_shiny für shiny variante -->

  <div class="button-container">
    <div *ngFor="let option of antwortMoeglichkeiten">
      <button mat-raised-button (click)="antwortAuswaehlen(option)" *ngIf="!antwortGegeben">
        {{ option.name }}
      </button>
    </div>
  </div>

  <p *ngIf="antwortGegeben">
    {{ istAntwortRichtig ? 'Richtig!' : 'Falsch!' }}
    <br />
    Dies ist ein {{ richtigeAntwort }}.
  </p>

  <div *ngIf="antwortGegeben">
    <button mat-raised-button *ngIf="istAntwortRichtig ; else restartBtn" (click)="naechsteFrage()">
      Nächste Frage
    </button>
    <ng-template #restartBtn>
      <button mat-raised-button (click)="naechsteFrage()">
        Neu starten
      </button>
    </ng-template>
  </div>
</div>
