<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8" />
  <title>Who’s that Pokémon?</title>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>
  <div class="header">
    <img src="images/whos_that_pokemon_logo.jpg" alt="Pokémon Logo" class="logo" />
    <h1 class="title">Who’s that Pokémon?</h1>
  </div>

  <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="center" class="custom-tab-group" [(selectedIndex)]="selectedTabIndex"
  (selectedTabChange)="onTabChanged($event)">
    <mat-tab label="Homepage">
      <div class="welcomeMessage">
        <h1>Willkommen bei</h1>
        <h2>Guess the Pokémon!</h2>
      </div>
    </mat-tab>

    <mat-tab label="Quiz">
      <div class="quiz-content">
        <app-quiz-seite (quizBeendet)="onQuizBeendet($event)"></app-quiz-seite>
      </div>
    </mat-tab>

    <mat-tab label="Ranking">
      <div class="ranking-content">
        <h2>Rangliste</h2>
    <table class="ranking-table" style="align-items: center;">
      <tr>
        <th>Platz</th>
        <th>Name</th>
        <th>Punkte</th>
      </tr>
      <tr *ngFor="let eintrag of ranking; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ eintrag.name }}</td>
        <td>{{ eintrag.score }}</td>
      </tr>
    </table>
      </div>
    </mat-tab>
  </mat-tab-group>
  <button mat-raised-button *ngIf="selectedTabIndex === 2" (click)="exportRankingAsXML()">Exportieren als XML</button>
</body>

</html>
