/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
::ng-serve button.mat-raised-button {
  background-color: #45f500 !important;
  color: #fff !important;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}